extends common/layout

block prepend document
  - this.title = `${problem.title} - 文件`;

block append scripts
  if isAllowedEdit
    +import-bundle-script("file-upload")
    script.
      $(() => {
        const uploadFile = async (file, type) => {
          try {
            const error = await window.FileUploadUtil.uploadProblemFileAsync(
              file, type, !{ viewUtils.serialize(problem.id) }
            );

            if (error) {
            $.toast({
                class: 'error',
                title: '上传失败',
                message: error,
              });
            }

            return !error;
          } catch (e) {
            $.toast({
              class: 'error',
              title: '服务器错误',
              message: e.statusText || e.message,
            });
            return false;
          }
        };

        const $uploadBtn = $(".upload-btns");
        $uploadBtn.click((e) => {
          const type = $(e.currentTarget).hasClass("testdata") ? "testdata" : "additional";
          window.FileUploadUtil.openUploadDialog(async (files) => {
            $("a, button").addClass("disabled");
            $uploadBtn.addClass("loading");

            let success = true;
            for (const file of files) {
              success &&= await uploadFile(file, type);
            }
            if (success) { 
              window.location.reload()
            } else {
              $("a, button").removeClass("disabled");
              $uploadBtn.removeClass("loading");
            }
          });
        });
      });

block content
  .padding
    .ui.center.aligned.grid
      .two.column.row
        .center.aligned.column
          h1.ui.header ##{ problem.displayId }. #{ problem.title } - 文件
        .right.aligned.column
          a.ui.labeled.icon.mini.button(href=`/problem/${problem.id}`)
            i.arrow.left.icon
            | 返回题目

      .row(class=isAllowedEdit ? "two column" : "")
        .wide.column(class=isAllowedEdit ? "eight" : "fourteen")
          h3 附加文件
          table.ui.teal.table
            thead
              tr
                th.nine.wide 文件名
                th.three.wide 大小
                th.wide(class=isAllowedEdit ? "four" : "two") 操作
            tbody
              each file in files
                tr
                  td(style="word-break: break-all")
                    i.icon(class=`${viewUtils.getFileIcon(file.filename)}`)
                    = file.filename
                  td= viewUtils.formatFileSize(file.size)
                  td
                    a.ui.tertiary.icon.tiny.button(
                      href=`/problem/${problem.id}/file/${file.uuid}`,
                      target="_blank",
                      title="下载"
                    )
                      i.download.icon
                    if isAllowedEdit
                      a.ui.tertiary.icon.tiny.red.button(
                        tabindex="0",
                        href-post=viewUtils.makeUrl({
                          path: `/problem/${problem.id}/file/${file.uuid}/delete`,
                          query: { type: file.type },
                        }),
                        title="删除"
                      )
                        i.trash.icon
        .column
          h3 测试数据
          table.ui.pink.table
            thead
              tr
                th.nine.wide 文件名
                th.three.wide 大小
                th.four.wide 操作
            tbody
              each file in testDatas
                tr
                  td(style="word-break: break-all")
                    i.icon(class=`${viewUtils.getFileIcon(file.filename)}`)
                    = file.filename
                  td= viewUtils.formatFileSize(file.size)
                  td
                    a.ui.tertiary.icon.tiny.button(
                      href=`/problem/${problem.id}/file/${file.uuid}`,
                      target="_blank",
                      title="下载"
                    )
                      i.download.icon
                    if isAllowedEdit
                      a.ui.tertiary.icon.tiny.red.button(
                        tabindex="0",
                        href-post=viewUtils.makeUrl({
                          path: `/problem/${problem.id}/file/${file.uuid}/delete`,
                          query: { type: file.type },
                        }),
                        title="删除"
                      )
                        i.trash.icon
      if isAllowedEdit
        .two.column.row
          .eight.wide.right.aligned.column
            button.upload-btns.ui.labeled.icon.small.teal.button
              i.plus.icon
              | 上传附加文件
          .eight.wide.right.aligned.column
            button.upload-btns.testdata.ui.labeled.icon.small.pink.button
              i.plus.icon
              | 上传测试数据
