extends common/layout

block prepend title
  - this.title = `${problem.title} - 评测设置`;

block append head
  +import-highlight-styles

block append scripts
  +import-highlight-scripts
  +import-bundle-script("page-app-loader")
  -
    const dataObj = {
      title: `#${problem.displayId}. ${problem.title} - 评测设置`,
      problemUrl: `/problem/${problem.id}`,
      postUrl: viewUtils.makeUrl({}),
      error,
      type: judgeInfo.type,
      info: judgeInfo.info,
      hasSubmissions,
      testDataFileNames,
    };
  script.
    $(() => {
      window.PageSharedObject = !{ viewUtils.serialize(dataObj) };
      window.PageAppLoaderUtil.loadPageApp("judge-setting", !{viewUtils.serialize(app.cdnUrl)});
    });

block content
  #app-root.padding
